/* Header styles */
.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 32px;
    z-index: 85;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 85;
        display: flex;
        justify-content: space-between;
        /* Distribue l'espace entre les éléments enfants */
        align-items: center;
        /* Centre verticalement les éléments */
        padding: 10px;
        /* Ajoute un peu de remplissage pour éviter que le contenu ne touche les bords */
        box-sizing: border-box;
        /* Inclut le remplissage dans la largeur totale */
    }

    .header-logo {
        width: auto;
        height: 68px;
    }

    .header-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: .04em;
        text-align: center;
        flex-grow: 1;
        /* Permet au titre de prendre l'espace restant */
    }
}

.header-logo {
    width: 83px;
    height: auto;

}

.header-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: .05em;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    position: absolute;
    width: 100%;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
}

@media screen and (max-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
        /* Aligne verticalement les éléments au centre */
    }

    .header-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: .04em;
        top: calc(50% + 24px);
        margin-top: 10%;
    }

    .header-logo {
        width: auto;
        height: 68px;
        margin-right: 20px;
    }
}